<div class="container-narrow">
         
    <div class="well span12">
	
			<div class="span3">
<img src=<%=@user.imageurl%> width="150" height="150" >
				
				<div class="fileupload fileupload-new editProfileChangePicture" data-provides="fileupload">
<span class="btn btn-file"><span class="fileupload-new">Schimba poza</span><span class="fileupload-exists">Change</span><input type="file" /></span>
<span class="fileupload-preview"></span>
<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
</div>
				
			</div>
			<div class="span8 pull-right">

				<table class="table table-striped editProfile">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <tr>
      <th><%= f.label :Nume %></th>
      <td><%= f.text_field :first_name %></td>
   </tr>

  <tr>
    <th><%= f.label :Prenume %></th>
    <td><%= f.text_field :last_name %></td>
  </tr>

  <tr>
    <th><%= f.label :Email %></th>
    <td><%= f.email_field :email %></td>
  </tr>

  <tr>
    <th><%= f.label :Parola %></th>
    <td><%= f.password_field :password %></td>
  </tr>

  <tr>
    <th><%= f.label :Confirma_parola %></th>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>

  <tr>
    <th><%= f.label :Grupa %></th>
    <td><%= f.number_field :group %></td>
  </tr>

  <tr>
    <th><%= f.label :Promotia %></th>
    <td><%= f.text_field :promotion %></td>
  </tr>

  <tr>
    <th><%= f.label :Specializarea %></th>
    <td><%= f.text_field :specialization %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  </div>


