<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @user.birthdate %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
  </p>
<p>
  <b>Group:</b>
  <%= @user.group %>
</p>

<p>
  <b>Promotion:</b>
  <%= @user.promotion %>
</p>

<p>
  <b>Temporary profile:</b>
  <%= @user.temporary_profile %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
