<html>
<head>
<script type="text/javascript" src="location.js" > </script>
</head>
<p><a href="/auth/linkedin" rel="external">Apasa ca sa te conectezi cu Linkedin</a></p>
         
           <% if signed_in? %>
                 <%= link_to "Sign out",  destroy_user_session_path, :method => :delete %> 
	    <% else %>
           <%= link_to "Sign in",  new_user_session_path  %>
            <% end %>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">      
        	<a class="brand" href="index.html">Alumni</a>
        	<div class="nav-collapse collapse nav-bar-inverse-collapse">
        		<ul class="nav pull-right">
        		<li><a href="">Actualizare Informatii</a>
        		<li><a href="#">Iesire</a></li>
        		</ul>
        	</div>
        </div>
      </div>
    </div>
    
    <div class="container-narrow">
    	
	<div class="masthead">
        <div id="navbar-example" class="navbar navbar-static">
            <div class="navbar-inner">
            <a class="brand" href="">Alumni</a>
              <div class="container" style="width: auto;">
                <ul class="nav" role="navigation">
                  <li class="active"><a href="#">Harta colegi</a></li>
                  <li ><a href="listaPromotii.html">Lista Promotii</a></li>
              </div>
            </div>
          </div>
    </div>
      
    <div class="well">

    	<h4 class="muted">Vezi pe harta unde se afla colegii tai.</h4>
		<div id="map_canvas" class="map_canvas" >
		</div>
		<h4>Lista colegi</h4>
		<table class="table table-striped alumni">
		  	<tr>
			 <th>Poza</th>
			 <th>Prenume</th>
			 <th>Nume</th>
			 <th>Locatie</th>
			 <th>Email</th>
			</tr>
			
		        <% for user in @users %>
			<tr>
			  <% if user.imageurl.nil? %> 
			    <td><%= link_to image_tag("logo.png", width:"50", height:"50", alt: "logo"), '/users/'+user.id.to_s  %></td>
                          <% else %>
                            <td><%= link_to image_tag(user.imageurl, width:"50", height:"50", alt: "logo"), '/users/'+user.id.to_s %></td>
			  <% end %>
			  <td><%= user.first_name %></td>
     			  <td><%= user.last_name %></td>
			  <td><%= user.location %></td>
			  <td><%= user.email %></td>		    	  
			</tr>
			<% end %>
		      
		</table>
	</div>


	<div class="clearfix"></div>
    
    		
	</div>
	<div class="bottom-logo">
    	<%= image_tag("logo.png", alt: "logo") %>
	</div>
</html>
