<head>
  <title>Alumni Login</title>
  <style type="text/css">
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 100px auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .linkedin-container{
	      
	      margin:20px auto;
      }
   /*   .separator{
	background: url("/i/signup/login-sprite.png") no-repeat scroll center 12px transparent;
        color: rgb(154, 154, 154);
	display: block;
	font-size: 12px;
	font-style: normal;
	padding: 10px 0px;
	text-align: center;
	width: 100%;
      }*/
.linie{

height:1px;
width:45%;
float:left;
margin-top:10px;
background-color:gray;
margin-bottom:10px;

}
.linie-dreapta{
 float:right;
}

.or{
	width:7%;
	float:left;
margin-left:3px;
}

.separator{
 margin-bottom: 10px;
background-image: "line_separator3.png"
}
.imagine{
width: 300px;
max-width: 120%;
height: auto;

}
  </style>

</head>
<body>

  <%= form_for(resource,:as => resource_name, :url => session_path(resource_name), :html => { :class => "form-signin"} ) do |f| %>
<a class="zocial linkedin" href="/auth/linkedin">Logare folosind LinkedIn</a>
<br><br>

        <div class="separator">
	   <%= image_tag("final_line copy.png", :class => "imagine") %>
        </div>

   <%= f.text_field :email, :placeholder=>"Adresa de email sau token", :class=>"input-block-level" %>
   <%= f.password_field :password, :class=>"input-block-level", :placeholder=>"Parola" %>

   <% if devise_mapping.rememberable? -%>
     <label class="checkbox"><%= f.check_box :remember_me %> Ţine-mă minte </label>
   <% end -%> 

  <%= f.submit "Sign in" , :class => "btn btn-primary" %>
 <a href="users/sign_up" class="pull-right">Creare cont</a> 
 <% end %>

</body>


