<!DOCTYPE html>
<html>
<head>
  <title>Alumni</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <%#= render :partial => "layouts/header" %>

  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= flash[:alert] %></p>
  <% end %>

<%= yield %>
<%= yield :scripts %>
</body>
</html>
